body {
  background-color: rgb(60 118 179);
}

#main-page {
  display: flex;
  flex-direction: row;
}

#side-bar {
  width: 225px;
  margin-right: 25px;
}

/* Styles each project item in the sidebar */
.project-item {
  padding: 5px 10px;
  margin: 5px 0;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 10px;

  background-color: rgb(153 153 153 / 50%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styles the form that adds new projects */
#project-form {
  margin-top: 25px;
  padding: 10px 10px;

  border: 1px solid white;
  border-radius: 15px;

  background-color: rgb(153 153 153 / 50%);

  height: 100px;
}

/* Sets flex properties for the project form and each row. */
#project-form,
#project-form > .form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#project-form #project-name {
  border: none;
  border-radius: 15px;

  padding: 5px 10px;
  margin-top: 5px;
}

#project-form button[type="submit"] {
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

/* Styles the todo form for new todo items */
#todo-form {
  border: 1px solid white;
  border-radius: 15px;

  background-color: rgb(153 153 153 / 50%);

  display: table;

  width: 350px;
  padding: 15px 15px;
}

#todo-form .form-row {
  display: table-row;
}

#todo-form .form-row > * {
  display: table-cell;
}

/* Aligns every label in the todo form to the top left */
#todo-form .form-row > label {
  text-align: left;
  vertical-align: top;
}

#todo-form > button {
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 10px;
}

/* Styles for the todo container */
#todo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#todo-container > .todo-item {
  border: 1px solid white;
  border-radius: 15px;

  background-color: rgb(153 153 153 / 50%);

  width: 250px;

  padding: 5px 15px;
  margin: 5px 0;
}

#todo-container > .todo-item > .todo-title {
  text-decoration: underline;
  text-align: center;
}

#todo-container > .todo-item > .todo-description {
  font-style: italic;

  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

#todo-container > .todo-item > .todo-date {
  margin-top: 25px;
}

/* Styles for high priority items. */
#todo-container .high-priority {
  background-color: rgba(255, 0, 0, 0.7);
}

#todo-container > .todo-item > button {
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
}
