body {
  background-color: rgb(60 118 179);
}

#main-page {
  display: flex;
  flex-direction: row;
}

#side-bar {
  width: 225px;
  margin-right: 25px;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
